{% load static i18n %}

<nav class="navbar navbar-expand-lg nav-light fixed-top sticky" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="logo-light-mode">
        <img src="{% static '/images/logo-dark.png' %}" class="l-light" alt="">
        <img src="{% static '/images/logo-light.png' %}" class="l-dark" alt="">
      </span>
      <img src="{% static '/images/logo-light.png' %}" class="logo-dark-mode" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navbar-navlist">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonial">Testimonial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>